<!DOCTYPE html>
<html>
<head>
  <title>Role With Me</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="assets/css/application.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h1><span class="star">Kaniya Grays</span><span class="pull-right">GOLD Member 1,892 Points</span></h1>
    <% if not prompt %>
        <p id="current-prompt"></p>
    <% else %>
        <p id="current-prompt"><%= prompts[prompt] %></p>
    <% end %>
  </div>

  <form id="input-form" class="">
    <h3>Select Your Character</h3>
    <div class="form-group avatar-wrap">
      <label class="radio-inline">
        <img class="avatar-img img-circle" src="assets/images/sara.png" alt=""/>
        <div class="avatar-caption">
          <h4>Sara</h4>
          <p>Sara is a Half Human, Half Ghost little 13 year old who is obsessed with sweets, scared of heights, and is very lovable.</p>
        </div>
        <input type="radio" name="optionsRadios" class="input-avatar" value="sara">
      </label>
    </div>
    <div class="form-group avatar-wrap">
      <label class="radio-inline">
        <img class="avatar-img img-circle" src="assets/images/lotus2.png" alt=""/>
        <div class="avatar-caption">
          <h4>Lotus</h4>
          <p>Lotus is Sara's older twin sister, (by 3 seconds), she's very bipolar, she is hilarious, and she is afraid to love.</p>
        </div>
        <input type="radio" name="optionsRadios" class="input-avatar" value="lotus2">
      </label>
    </div>
    <div class="form-group avatar-wrap">
      <label class="radio-inline">
        <img class="avatar-img img-circle" src="assets/images/Spongebob.png" alt=""/>
        <div class="avatar-caption">
          <h4>Spongebob</h4>
          <p>The squishy sponge full of smiles.  He is optimistic, cheerful, naïve, enthusiastic yellow sea sponge residing in the undersea city of Bikini Bottom.</p>
        </div>
        <input type="radio" name="optionsRadios" class="input-avatar" value="Spongebob">
      </label>
    </div>
    <div class="form-group avatar-wrap">
      <label class="radio-inline">
        <img class="avatar-img img-circle" src="assets/images/Dipper.png" alt=""/>
        <div class="avatar-caption">
          <h4>Dipper</h4>
          <p>The twin brother of Mabel Pines. He is a smart, curious, and an adventurous 12-year-old.</p>
        </div>
        <input type="radio" name="optionsRadios" class="input-avatar" value="Dipper">
      </label>
    </div>
    <div class="form-group avatar-wrap">
      <label class="radio-inline">
        <img class="avatar-img img-circle" src="assets/images/Mabel.png" alt=""/>
        <div class="avatar-caption">
          <h4>Mabel</h4>
          <p>The twin sister of Dipper Pines. She is a bouncy, energetic, optimistic 12-year-old girl.</p>
        </div>
        <input type="radio" name="optionsRadios" class="input-avatar" value="Mabel">
      </label>
    </div>
    <div class="form-group" id="input-handle-wrap">
      <input id="input-handle" type="text" class="form-control" placeholder="Enter name" autofocus />
    </div>
    <button class="btn btn-primary" type="submit">Next</button>
  </form>

  <% if not prompt %>
      <form id="prompt-form" class="">
        <h3>What's the scenario?</h3>
        <div class="form-group">
          <label class="radio-inline">
            <p><%= prompts[0] %></p>
            <input type="radio" name="optionsRadios" class="input-prompt" value="0" checked>
          </label>
          <label class="radio-inline hidden">
            <p><%= prompts[1] %></p>
            <input type="radio" name="optionsRadios" class="input-prompt" value="1">
          </label>
          <label class="radio-inline hidden">
            <p><%= prompts[2] %></p>
            <input type="radio" name="optionsRadios" class="input-prompt" value="2">
          </label>
          <label class="radio-inline hidden">
            <p><%= prompts[3] %></p>
            <input type="radio" name="optionsRadios" class="input-prompt" value="3">
          </label>
          <label class="radio-inline hidden">
            <p><%= prompts[4] %></p>
            <input type="radio" name="optionsRadios" class="input-prompt" value="4">
          </label>
        </div>
        <input id="new-prompt" type="button" value="Give me a prompt!" class="btn btn-primary"/>
        <button class="btn btn-primary" type="submit">Ready...set...ROLE PLAY!</button>
      </form>
  <% end %>

  <div id="chatroom">
    <p id="chat-url"></p>
    <div id="chat-text">
    </div>
    <form id="msg-form" class="form-inline">
      <div class="form-group">
        <input id="input-text" type="text" class="form-control" placeholder="What happens next?" autofocus />
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="assets/js/application.js"></script>
</body>
</html>
